body {
    background: rgb(222 220 221);
    margin: 0;
}

/*mark*/nav {
    text-align: center;
    font-size: 3rem;
}

nav h1 {
    text-decoration: underline;
}

.title {
    font-size: 5rem;
    background: linear-gradient(126deg, lavender 82%, black 90%,lavender 90%, black 101%);
    padding-left: 20px;
    margin: 0;
}

#aboutMe {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 5%;
}

#aboutMe figure {
    position: relative;
    width: 30%;
    text-align: center;
}

#aboutMe figure figcaption {
    text-align: center;
    font-size: 1.5rem;
}

.details {
    padding: 30px;
    width: 50%;
}

#aboutMe p {
    font-size: 1.2rem;
}

figure img {
    border-radius: 31%;
    width: 250px;
}

#skills {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    height: 30px;
    padding: 3px 15px 15px 5px;
    border-radius: 8px;
}

#skills a {
    width: 1.5%;
    height: 100%;
}

#skills figure {
    width: 100%;
    height: 100%;
}

#skills figure figcaption {
    font-size: 1rem;
    position: absolute;
    left: -100%;
    height: 0;
    top: 0;
    overflow: hidden;
}


#skills figure img {
    background: #f5e269;
    padding: 5%;
    width: 95%;
    height: 95%;
    box-shadow: 2px 1px 0px silver, 3px 2px 3px black;
}

#skills figure:hover img {
    transition: all 1s;
    transform: translateY(-80%) scale(2.5);
    position: relative;
    padding: 2px;
}

#skills figure:hover figcaption {
    transition: all 1s;
    overflow: visible;
    color: white;
    position: absolute;
    top: -4rem;
    text-align: center;
    margin: 0 auto;
    background: black;
    padding: 0 10px;
    transform: translateY(-19px);
    height: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#divider1 {
    height: 200px;
    background: linear-gradient(-4deg, lavender 50%, black 52%, black 54%, #dedcdd 55%);
    margin: 0;
}

#bg1 {
    background: lavender;
    margin: 0;
    padding: 5%;
}

#applications {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5% 5px;
    background: lavender;
}

.app {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    margin: 3%;
    height: 600px;
}

.app:nth-child(odd) {
    /* margin: 40px 10% 40px auto; */
    rotate: -3deg;
}

.app:nth-child(even) {
    margin-top: 100px;
    rotate: 3deg;
}

.app:nth-child(odd):hover {
    transition: all .75s;
    transform: rotate(3deg) scale(1.2);
}

.app:nth-child(even):hover {
    transition: all .75s;
    transform: rotate(-3deg) scale(1.2);
}

.app img {
    width: 100%;
    height: 68%;
    border-radius: 50px 50px 0 0;
}

.info {
    background: #454444;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 29.5%;
    padding: 4px;
    width: 98%;
    border-radius: 0 0 50px 50px;
    border: 1px solid black;
}

.info h3 {
    height: 5%;
    padding: 10px;
    margin: 0;
}

.info p {
    height: 10%;
    padding: 2%;
}

.info figure {
    height: 50px;
    width: 40px;
}

.info figure img {
    width: 100%;
}

.info div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.hide {
    /* color: #e9f5fa; */
}

@keyframes growBounce {
    0% {
      transform: scale(1);
      color: black;
    }
    60% {
      transform: scale(1.2); 
    }
    80% {
      transform: scale(0.95); 
    }
    100% {
      transform: scale(1); 
      color: black;
    }
  }
  
  .bouncy-grow {
    width: 100px;
    height: 100px;
    color: black;
    animation: growBounce 1s ease-out;
  }

  #contactMe {
    display: flex;
    justify-content: space-around;
    background: black;
    padding: 25px;
  }

  #contactMe img {
    width: 50px;
  }

  #contactMe figure {
    text-align: center;
    color: white;
  }